@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
}

.text_p1 {
  text-align: center;
  color: rgb(85, 85, 85);
}

.title {
  font-size: 3rem;
  text-align: center;
}

.section_container {
  display: flex;
  align-items: center;
  gap: 4rem;
  height: 80%;
}

.picture_container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.about_picture {
  height: 400px;
  width: 400px;
  border-radius: 2rem;
}

.about_container,
.about_datails {
  display: flex;
}

.about_datails {
  justify-content: center;
  flex-direction: column;
}

.about_container {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.details_container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: #57B7F2 0.1rem solid;
  border-color: #57B7F2;
  text-align: center;
}

.details_container svg {
  color: rgb(51, 50, 50);
  height: 2rem;
  width: 2rem;
}

.text_container {
  color: rgb(51, 50, 50);
  text-indent: 20px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  section {
    margin: 0 5%;
  }

  .about {
    flex-direction: column;
    justify-content: start;
    margin-bottom: 0;
    gap: 2rem;
  }

  .section_container {
    flex-direction: column;
    gap: 0;
  }

  .picture_container {
    width: 275px;
    height: 275px;
  }

  .about_picture {
    display: flex;
    width: 275px;
    height: 275px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2.4rem;
  }
}